@{
    ViewData["Title"] = "Home Page";
}

<!-- Contenedor principal -->
<div class="main-content">
    <div class="content">
        <h1>Construye tu Hogar
            <br> Diseños Modernos.
        </h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <div id="btn1"><button>Compra ahora</button></div>
    </div>
</div>

<!-- servicios -->
<div id="servicios">
<div class="container">
    <h3 class="text-center p-4">SERVICIOS</h3>
    <div class="row mb-4">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card bg-light">
                <img src="/images/card1.jpg" alt="tarjet 1" class="card image-top" height="200px"/>
                <div class="card-body">
                      <h5 class="card-title text-center">Hogar</h5>
                      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                      <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card bg-light">
                <img src="/images/card2.jpg" alt="tarjet 2" class="card image-top" height="200px" />
                <div class="card-body">
                    <h5 class="card-title text-center">Oficina</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                    <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card bg-light">
                <img src="/images/card3.jpg" alt="tarjet 3" class="card image-top" height="200px" />
                <div class="card-body">
                    <h5 class="card-title text-center">Escolar</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                    <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card bg-light">
                <img src="/images/card4.jpg" alt="tarjet 4" class="card image-top" height="200px" />
                <div class="card-body">
                    <h5 class="card-title text-center">Industrial</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                    <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card bg-light">
                <img src="/images/card5.jpg" alt="tarjet 5" class="card image-top" height="200px" />
                <div class="card-body">
                    <h5 class="card-title text-center">Jardín</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                    <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card bg-light">
                <img src="/images/card6.jpg" alt="tarjet 6" class="card image-top" height="200px" />
                <div class="card-body">
                    <h5 class="card-title text-center">Diseñador</h5>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                    <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Nuevos Productos -->

<div class="container mb-5">
    <h3 class="text-center mt-5">NUEVOS PRODUCTOS</h3>
    <div class="row mt-5">
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product1.jpg" alt="product 1" class="card image-top"/>
                <div class="card-body">
                    <h3 class="card-title text-center">Sofa Gris</h3>
                    <p class="card-text text-center">$50.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product2.jpeg" alt="product 2" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Escritorio</h3>
                    <p class="card-text text-center">$120.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product3.jpg" alt="product 3" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Silla de Oficina</h3>
                    <p class="card-text text-center">$90.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product4.jpg" alt="product 4" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Mesa de Centro</h3>
                    <p class="card-text text-center">$150.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nosotros -->
<div class="py-5" id="nosotros">
    <div class="container">
        <h1 class="text-center mt-5">NOSOTROS</h1>
        <div class="row mt-5">
            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="/images/about.jpg" alt="About image" />
                </div>
            </div>
            <div class="col-md-6 py-3 py-md-0">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, saepe possimus quo, quasi animi natus nulla beatae neque soluta pariatur id ducimus eum, sed quis enim minima? Fugiat delectus quo optio nemo voluptatem ullam officiis neque exercitationem tenetur eum corporis quas in esse blanditiis, quasi animi nam eos! Tempora deleniti eligendi magni ex voluptatum ut dicta nemo et consequuntur distinctio quae atque porro inventore assumenda, nihil odio iusto accusamus libero error nam aut, at praesentium cum reiciendis. Possimus consequatur obcaecati at illum in dolores earum vero ipsum. Ipsam vitae adipisci corrupti totam vel consequuntur fugiat. Perferendis fuga doloremque tempora, in eos, voluptates iure, optio qui modi ex ea saepe. Eum perspiciatis, voluptates fugiat nesciunt corrupti minima aliquam repellat, ea quasi natus, recusandae aut nobis modi. Commodi, alias reiciendis reprehenderit hic soluta consectetur corporis accusantium placeat, totam minima nostrum magnam dolorum aut dolore, sapiente ea. Magni est quo ipsam nisi iste.</p>
            </div>
        </div>
    </div>
</div>

<!-- Formulario de contacto -->
<div class="contact-form">
    <a class="btn btn-primary my-2" asp-area="" asp-controller="Home" asp-action="Servicios">Servicios</a>
    <h5 class="text-center">Contacto</h5>
    <form id="contactForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" required>
            <div class="input-group has-validation">
                <div class="invalid-feedback">
                    Por favor, ingrese su nombre
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="form-label mt-2">Email</label>
            <input type="email" class="form-control" id="email" required>
            <div class="input-group has-validation">
                <div class="invalid-feedback">
                    Por favor, ingrese su correo
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="form-label mt-2">Mensaje</label>
            <textarea class="form-control" id="message" rows="3" required></textarea>
            <div class="input-group has-validation">
                <div class="invalid-feedback">
                    Por favor, escriba un mensaje
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
