@{
    ViewData["Title"] = "Productos";
}
<!-- Productos -->

<div class="container mb-5">
    <h3 class="text-center mt-5">PRODUCTOS</h3>
    <div class="row mt-5">
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product1.jpg" alt="product 1" class="card image-top"/>
                <div class="card-body">
                    <h3 class="card-title text-center">Sofa Gris</h3>
                    <p class="card-text text-center">$50.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product2.jpeg" alt="product 2" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Escritorio</h3>
                    <p class="card-text text-center">$120.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product3.jpg" alt="product 3" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Silla de Oficina</h3>
                    <p class="card-text text-center">$90.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product4.jpg" alt="product 4" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Mesa de Centro</h3>
                    <p class="card-text text-center">$150.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product4.jpg" alt="product 4" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Mesa de Centro</h3>
                    <p class="card-text text-center">$150.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product3.jpg" alt="product 3" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Silla de Oficina</h3>
                    <p class="card-text text-center">$90.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product2.jpeg" alt="product 2" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Escritorio</h3>
                    <p class="card-text text-center">$120.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="/images/product1.jpg" alt="product 1" class="card image-top" />
                <div class="card-body">
                    <h3 class="card-title text-center">Sofa Gris</h3>
                    <p class="card-text text-center">$50.00</p>
                    <div class="text-center"><button class="btn btn-light">Comprar</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boton Contacto -->

<div class="contacto">
    <a class="btn btn-link my-2" asp-area="" asp-controller="Contacts" asp-action="Index"><img src="~/images/contact.png" alt="Contacto" /></a>
</div>
