@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Servicios";
}

<!-- servicios -->
<div id="servicios">
    <div class="container">
        <h3 class="text-center p-4">SERVICIOS</h3>
        <div class="row mb-4">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card bg-light">
                    <img src="/images/card1.jpg" alt="tarjet 1" class="card image-top" height="200px" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Hogar</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                        <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card bg-light">
                    <img src="/images/card2.jpg" alt="tarjet 2" class="card image-top" height="200px" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Oficina</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                        <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card bg-light">
                    <img src="/images/card3.jpg" alt="tarjet 3" class="card image-top" height="200px" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Escolar</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                        <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card bg-light">
                    <img src="/images/card4.jpg" alt="tarjet 4" class="card image-top" height="200px" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Industrial</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                        <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card bg-light">
                    <img src="/images/card5.jpg" alt="tarjet 5" class="card image-top" height="200px" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Jardín</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                        <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card bg-light">
                    <img src="/images/card6.jpg" alt="tarjet 6" class="card image-top" height="200px" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Diseñador</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam vitae facere eius modi iure possimus, soluta ea inventore. Omnis!</p>
                        <div class="text-center" id="btn2"><button class="btn btn-secondary">Ver más</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boton Contacto -->

<div class="contacto">
    <a class="btn btn-link my-2" asp-area="" asp-controller="Contacts" asp-action="Index"><img src="~/images/contact.png" alt="Contacto" /></a>
</div>